@media (max-width: 600px) {
    header {
        /* height: 60px; */
        height: fit-content;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 100;
        font-family: Poppins, sans-serif;
        background-color: #24305E;
        box-shadow: 0px -4px 8px 0 rgba(0, 0, 0, 0.3);
    }

    nav {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-self: center;
        align-items: center;
        bottom: 0;
    }

    nav a {
        font-family: 'Montserrat', sans-serif;
        font-size: xx-small;
        text-decoration: none;
        color: white;
    }

    .imageLabel {
        font-weight: 500;
        position: relative;
        bottom: 0;
    }

    .headerItem {
        text-align: center;
        height: 80%;
        width: 60px;
        margin: 10px;
    }

    /* .uppermost {
        text-align: center;
        height: 80%;
        width: 60px;
        margin: 10px;
    } */

    .imageLinkHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .imageLinkHolder img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .contentHolder {
        margin: 15px 15px 60px;   
    }

    #themeBox {
        bottom: 70px;
        right: 10px;
    }
}

@media screen and (min-width: 600px) {
    header {
        height: 100vh;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: Poppins, sans-serif;
        text-transform: uppercase;
        z-index: 100;
        font-family: "Montserrat", sans-serif;
        background-color: #24305E;
        position: fixed;
        top: 0;
        box-shadow: 4px 2px 8px 0 rgba(0, 0, 0, 0.3);
    }
    
    nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        left: 0;
    }
    
    nav a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: black;
    }

    .headerItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 25%;
        margin-bottom: 25%;
    }
    
    .uppermost {
        margin-top: 50%;
    }
    
    .insideHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .headerItem img {
        width: 55%;
        margin-bottom: 10px;
    }
    
    .imageLinkHolder {
        display: flex;
        justify-content: center;
    }
    
    .headerItem a {
        font-size: 13px;
        color: white;
        text-transform: lowercase;
        letter-spacing: 1px;
    }

    .contentHolder {
        margin: 45px 45px 45px 125px;   
    }

    #themeBox {
        bottom: 30px;
        right: 10px;
    }
}

body {
    margin: 0 !important;
    font-family: "Montserrat", sans-serif;
}

/* Resetting css from default browser */

h1, p {
    margin: 0;
}

h2, h3 {
    font-weight: 400;
}

#themeBox {
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#moon {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flashHolder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    padding-inline-start: 0px !important;
}

.flashHolder li {
    z-index: 100;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    list-style-type: none;
    background-color: #F76C6C;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.info {
    background-color: #A9D099  !important;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: rgb(32, 30, 31);
        color: #e6e6e6 !important;
    }

    img {
        filter: brightness(0.9)
    }

    header {
        background-color: #000000 !important;
    }
}