@media (prefers-color-scheme: dark) {
    .infoHolder {
        background-color: #233741 !important; 
    }

    table {
        border: 1px solid #e6e6e6;
    }

    tr {
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
    }
}