@media screen and (max-width: 600px) {
    .imageBox {
        display: none
    }

    .innerBox {
        background-color: #A8d0E6;
        width: 100%;
        min-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 600px) {
    .imageBox {
        width: 60%;
        background-image: url("../images/Student.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .innerBox {
        background-color: #A8d0E6;
        width: 40%;
        min-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

header {
    display: none;
}

.bigBox {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.imageHolder img {
    width: 100%; 
}

.signInBox {
    width: 90%;
    text-align: center;
}

input[type="text" i], input[type="password" i] {
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid gray;
    padding: 12px 0px;
    border-radius: 4px;
    width: 220px;
}

label {
    line-height: 40px;
    color: black;
    cursor: text;
    font-size: 17px;
    letter-spacing: 1px;
}

label:focus, input:focus {
    outline: 0;
}

input[type="submit" i] {
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

input {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    font-size: 15px;
    text-align: center;
    color: black ;
}

input[type="submit" i]:hover {
    background-color: transparent;
    color: white;
}

.registerLink {
    color: black;
    text-decoration: none;
    border: 2px solid white;
    padding: 20px 20px;
    border-radius: 4px;
    background-color: white;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.registerLink:hover {
    background-color: transparent;
    color: white;
}

.newUser h3 {
    line-height: 40px;
    margin-bottom: 30px;
}

.imageHolder {
    height: 100px;
    width: 100px;
    margin: 17px;
}

.imageHolder img {
    width: 100%;
}

span {
    color: black;
}

.contentHolder {
    margin: 0 !important;
}



@media (prefers-color-scheme: dark){
    .innerBox {
        background-color: #12436b;
    }

    h1, h3 {
        color: #e6e6e6;
    }

    label {
        color: #e6e6e6;
    }
    
    input[type="submit" i] {
        background-color: #297499;
        border: 2px solid #297499;
    }
    
    input {
        color: #e6e6e6;
    }
    
    input[type="submit" i]:hover {
        color: #297499;
    }

    input[type="text" i], input[type="password" i] {
        border-bottom: 2px solid #e6e6e6;
    }
    
    .registerLink {
        color: #e6e6e6;
        border: 2px solid #297499;
        background-color: #297499;
    }
    
    .registerLink:hover {
        color: #297499;
    }
    
    span {
        color: #e6e6e6;
    }

    img {
        filter: brightness(.8) contrast(1.2);
    }
}

@media (prefers-color-scheme: light){
    .innerBox {
        background-color: #A8d0E6;
    }

    h1, h3 {
        color: black;
    }
    
    label {
        color: black;
    }
    
    input[type="submit" i] {
        background-color: white;
        border: 2px solid white;
    }
    
    input[type="text" i], input[type="password" i] {
        border-bottom: 2px solid gray;
    }

    input {
        color: black;
    }
    
    input[type="submit" i]:hover {
        color: white;
    }
    
    .registerLink {
        color: black;
        border: 2px solid white;
        background-color: white;
    }
    
    .registerLink:hover {
        color: white;
    }
    
    span {
        color: black;
    }
}