/* Will likely need more changes, possibly along with 
changes to rooms.html to look better on small screens*/ 

body {
    background-color: #A8D0E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#yipyip, #yopyop {
    display: none;
}

#long {
    width: 70%;
}

.white {
    color: white;
}

.titleHolder {
    margin-bottom: 5%;
}

.turtle, .bunny {
    width: 100%;
}

#temp, #okay, #bad, #faster, #slower {
    display: none;
}

.shadowBox:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.15), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

#speedVisual {
    display: none; /* Hiding the speed number */
}

.vibeHeader {
    font-weight: 400;
}

.attendanceBox {
    width: 20%;
    border-radius: 30px;
}
.visualImageHolder {
    display: flex;
    flex-direction: column;
}

.visual_slow, .visual_fast {
    width: 18%;
}

.bigReactionBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#reactionResults, #speedResults {
    width: 65%;
}

.teacherVibe {
    height: auto !important;
}

.teacherStuff {
    width: 20% !important;
    height: auto !important;
    object-fit: contain;
}

.makeSmaller {
    height: 60px;
    margin-bottom: 4%;
}

.teacherVisualHolder, .studentVisualHolder {
    /* flex-wrap: wrap; */
    background-color: white;
    height: auto !important;
    border-radius: 30px;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#speedResults {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.paceStudent {
    display: none !important;
}

.teacherSpeed {
    width: 20%;
}

.teacherSpeed img {
    width: 100%;
}

.speedLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacherVersion {
    width: 50%;
}

#paceTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    font-size: small;
}


.endSessionButton {
    background-color: #f76c6c;
    border: 0;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    cursor: pointer;
}

.openReportSection {
    width: 100%;
    height: fit-content;
}

#openReport {
    justify-content: center;
    background-color: rgb(66, 66, 177);
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    cursor: pointer;
}

#downloadImg {
    width: 40%;
}

#openReport:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.endSessionButton:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.endForm {
    margin-top: 10%;
    width: 100%;
}

/* For larger screens */
@media all and (min-width: 600px) { 
    .overallContainer {
        display: flex;
        justify-content: space-between;
        /*background-color: lightsalmon;*/
        width: 100%;
    }

    h2 {
        font-size: medium;
        font-weight: 500;
    }
    
    .tempVisual {
        height: 95%;
        width: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overallThermoContainer {
        background-color: white;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        min-width: 210px;
        border-radius: 30px;
        margin-right: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .thermometer, .thermometer_shell {
        width: 60px;
        position: absolute;
        background-color: red;
        position: absolute;
        transition: height 0.25s ease-in;
        position: absolute;
        border-radius: 40px;
        bottom: 0;
    }

    .thermoCircle {
        height: 16%;
        width: 90%;
        position: absolute;
        bottom: 0;
        background-color: red;
        border-radius: 50%;
    }

    .dashes {
        height: 87%;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .dashHolder {
        height: 95%;
    }

    .dash {
        background-color: grey;
        height: 3px;
        width: 35%;
    }

    .numbers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 88%;
    }

    .numHolder {
        height: 95%;
        font-size: 20px;
    }

    .num p {
        margin: 0;
        font-weight: 500;
    }

    .titleHolder h1 {
        font-weight: 400;
        font-size: 45px;
    }

    .all {
        /* width: 50px; */
        display: none;
        margin-bottom: 10px;
    }

    /*.visual_slow {
        background-color: orange;
    }

    .visual_fast {
        background-color: red;
    }*/

    .roomsBox {
        width: 95%;
        max-width: 1500px;
    }

    .contentHolder {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .makeReactionBox {
        background-color: white;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 40px;
        padding: 3%;
        /* flex-wrap: wrap; */
        /* height: 30%;
        min-height: fit-content; */
        width: 100%;
        min-width: 600px;
        max-width: 700px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .reactionImage {
        height: 100%;
    }

    .reactionsHolder {
        /*background-color: fuchsia;*/
        width: 70%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .shadowBox {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 7px 0 rgba(0, 0, 0, 0.1);
        height: 100px;
        border-radius: 50%;
        cursor: pointer;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        margin-left: 10px;
        margin-right: 10px;
    }

    #visualHolder {
        background-color: white;
        border-radius: 40px;
        /* padding-right: 3%;
        padding-left: 3%; */
        /* width: fit-content; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 25%;
        width: 100%;
        max-width: 700px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #room_vibe {
        /*background-color: pink;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 40%; */
    }

    #vibe {
        height: 90%;
    }

    .vibeHolder {
        background-color: white;
        border-radius: 40px;
        /* padding-right: 3%;
        padding-left: 3%; */
        /* width: fit-content; */
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 35%;
    }


    /* Teacher CSS */

    .teacherReactionHolder {
        width: 48%;
        margin-right: 10px;
    }

    .speedHolder {
        width: 48%;
        margin-right: 10px;
    }

    .reactionResultsHolder, .paceBox {
        background-color: white;
        min-width: 170px;
        width: 100%;
        margin-bottom: 10%;
        padding-top: 2%;
        padding-bottom: 6%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .teacherVibeInside {
        /* background-color: white; */
        height: 100px;
        width: 100%;
        min-width: 170px;
        object-fit: contain;
        border-radius: 40px;
        padding: 5%;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }

    .teacherVibeHeader {
        font-size: 16px;
    }

    .userReactionView {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid lightgray;
        margin-bottom: 5px;
    }


    .userReactionView p {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
    }

    .attendanceSection {
        margin-bottom: 20px;
        padding: 5%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 8%;
    }

    #present, #absent {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
    }

    #present p, #absent p {
        margin: 2px;
        padding: 5px;
        width: fit-content; 
        background-color: lightblue;
        font-size: small;
    }

    #inside {
        text-align: left;
    }

    #inside h3 {
        font-size: medium;
        border-bottom: 2px dashed #91a7c9;
    }
}

/* For phones and devices with smaller screens*/
@media all and (max-width: 600px) {
    .overallContainer {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        /*background-color: lightsalmon;*/
        width: 100%;
        height: 80%;
    }

    .overallThermoContainer {
        display: none;
    }

    .titleHolder h1 {
        font-weight: 400;
        font-size: large;
    }

    .all {
        margin-bottom: 10px;
    }

    .roomsBox {
        width: 100%;
        height: 100%;
        padding: 7%;
    }

    .contentHolder {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* width: 100vw; */
        height: 95vh;
        /* width: 100%;
        height: 100%; */
        padding: 5%;
        /* To account for navbar */
        /* padding-bottom: 70px; */
    }

    .makeReactionBox {
        background-color: white;
        /* position: fixed; */
        /* bottom: 70px; */
        /* left: 10px; */
        /* right: 10px; */
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 40px;
        padding: 3%;
        /* flex-wrap: wrap; */
        height: 60px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .reactionImage {
        height: 50px;
    }

    .reactionsHolder {
        /*background-color: fuchsia;*/
        width: 100%;
        height: 100%;
        /* max-width: 700px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .shadowBox {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 7px 0 rgba(0, 0, 0, 0.1);
        height: 50px;
        border-radius: 50%;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }

    #visualHolder {
        background-color: white;
        border-radius: 40px;
        padding-right: 3%;
        padding-left: 3%;
        width: 100%;
        /* max-width: 695px; */
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        /* height: 20%; */
        margin-bottom: 20px;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #room_vibe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #vibe {
        height: 200px;
    }

    .vibeHolder {
        height: 25%;
        min-height: 120px;
        background-color: white;
        width: 100%;
        /* min-width: 170px; */
        /* object-fit: contain; */
        border-radius: 40px;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    /* Teacher CSS */

    .teacherReactionHolder {
        width: 48%;
    }

    .speedHolder {
        width: 48%;
        margin-right: 20px;
    }

    .reactionResultsHolder, .paceBox {
        background-color: white;
        margin-bottom: 10%;
        padding-top: 2%;
        padding-bottom: 6%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .teacherVibeInside {
        background-color: white;
        height: 100px;
        width: 100%;
        object-fit: contain;
        border-radius: 40px;
        padding-top: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .teacherVibeHeader {
        font-size: small;
    }

    .userReactionView {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .userReactionView p {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
    }

    .attendanceSection {
        padding: 2%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 8%;
    }

    #present, #absent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #present p, #absent p {
        margin: 5px;
    }

    #inside {
        text-align: center;
    }

    #inside h3 {
        font-size: 15px;
    }
}

.thermometer_shell {
    height: 100%;
    background-color: pink;
}