{% extends "base.html" %}

{% block content %}
{% if current_user.role == 0 %} <!-- If the current user is a teacher -->
        <div id = "attendance"> 
            <div id = "inside">
                <h2>Attendance: </h2>
                <h3>Present Students (The good ones)</h3>
                {% for p in present_list %}
                    <p>{{ p }}</p>
                {% endfor %}
                <h3>Absent Students (The bad ones. Santa ain't bringing them presents this year!)</h3>
                {% for a in absent_list %}
                    <p>{{ a }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}