{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classes.css') }}">
{% endblock %}

{% block content %}
    <div class = "classesTop">
        <div class = "titleHolder">
            <h1>Hi {{ user.username }}!</h1>
        </div>
        <div class = "createJoinCourse">
            <form action="/user/{{ user.username }}/classes/add" method='post'> <!-- This form will execute the code in routes with the def add-->
                {% if user.role == 1 %} <!-- If the user is a student, then show the enroll stuff -->
                    <!--<label for="title">Enroll in a Class</label>-->
                    <input type="text" name="title" placeholder="Enter Class Code..." class = "joinStudent">
                    <button type="submit" class = "joinClassButton">Join Class</button>
                {% else %}
                    <a href = "{{ url_for('create', username = current_user.username) }}" class = "createLink">Create a course</a>
                {% endif %}
            </form> 
        </div>
    </div>

    <h3 class = "classMargin">Your Classes: </h3>
    <!-- Students and their signups -->
    <div class = "classBlockHolder">
        {% for u in user_signups_filtered %} 
            <div class = "{{ loop.cycle('classBlock red', 'classBlock yellow', 'classBlock blue') }}" id = "classBlock" onclick="divLink({{ u.course_id.id }})">
                
                <div class = "classImage">
                    <img src = "{{ u.course_id.icon }}">
                </div>

                <div class = "classDescription">
                    <p class = "courseName">{{ u.course_id.course_name }} </p>
                    <p class = "courseTeacher">Teacher: {{ u.course_id.teacher.username }} </p>
                    <p class = "courseCode"> Class Code: {{ u.course_id.code }}</p> <!-- i.course_id will allow you to access the fields in the Course table-->
                    <!--<a href = "{{ url_for('course_waiting_room', course_id=u.course_id.id) }}">Enter Room</a>-->
                </div>

            </div>
        {% endfor %}
    
    {% if user.role == 0 %} <!-- If the user is a teacher, then show the activation stuff -->
        <!-- Teachers and their courses -->
        
            {% for t in teacher_courses %} <!-- Loops through all of the courses that teacher teaches -->
            <div class = "{{ loop.cycle('classBlock red', 'classBlock yellow', 'classBlock blue') }}" id = "classBlock" onclick="divLink({{ t.id }})">
               
                    <div class = "classImage">
                        <img src = "{{ t.icon }}">
                    </div>

                    <div class = "classDescription">
                        <p class = "courseName">{{ t.course_name }}</p>
                        <p class = "courseTeacher">Teacher: {{ t.teacher.username }} (you!)</p>
                        <p class = "courseCode">Class Code: {{ t.code }}</p> <!-- Print out the course name and the teacher's username -->
                        <!--<a href = "{{ url_for('course_waiting_room', course_id=t.id) }}">Enter Room</a>--> <!-- Print out the course name and the teacher's username -->
                    </div>
                </div>
            
            {% endfor %}

    {% endif %}
    </div>
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/divLink.js') }}"></script>
{% endblock %}

<!--{% for u in user_signups %}
        {% if u.username == user.username %} --><!-- This is to make sure that only this user's classes will show up, not other users' classes -->
            <!--{% for i in u.signups %}  
                    <p>{{ i.course_id.course_name }} | Teacher: {{ i.course_id.teacher.username }} | Class Code: {{ i.course_id.code }}</p> --><!-- i.course_id will allow you to access the fields in the Course table-->
                    <!--<a href = "{{ url_for('rooms', room_id=i.course) }}">Enter Room</a>
            {% endfor %}
        {% endif %}
    {% endfor %}-->