{% extends "base.html" %}

{% block content %}
    <h1>Create a Class</h1>
    <form action="/user/{{ current_user.username }}/create-class/new" method='post'> 
        <label for="title">Enter Class Name: </label>
        <input type="text" name="course_name" placeholder="Your students are waiting..."> <!-- This is where the teacher can enter the name of the course -->
        <br>
        <button type="submit">Create</button>
    </form>
    
    {% for t in t_courses_all %}
        <p>{{ t.course_name }} | Class Code: {{ t.code }}</p>
    {% endfor %}
{% endblock %}