{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post" class = "profileForm">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br> <!-- Label of the username field in the forms.py (the text in quotation marks, first argument) -->
            {{ form.username(size=32)}}<br> <!-- Specifying the size of the username input field -->
            {% for error in form.username.errors %}
                <span style = "color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class = "difSection">
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4)}}<br>
            {% for error in form.about_me.errors %}
                <span style = "color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}