
{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<body>
    <div class="carousel">
        <button class="carousel__button carousel__button--left is-hidden">
            <img src="{{ url_for('static', filename='images/index_left_carret.png') }}" alt="">
        </button>  <!--left navigation button-->
        <div class="carousel__track-container">
            <ul class="carousel__track">
                <li class="carousel__slide current-slide">
                    <img class="carousel__image" src = "{{ url_for('static', filename='images/index_1.jpg') }}" alt = "">
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image" src = "{{ url_for('static', filename='images/index_2.jpg') }}" alt = "">
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image" src = "{{ url_for('static', filename='images/index_3.jpeg') }}" alt = "">
                </li>   
            </ul>
        </div>
        <button class="carousel__button carousel__button--right">
            <img src="{{ url_for('static', filename='images/index_right_carret.png') }}" alt="">
        </button> <!--right navigation button-->

        <div class="carousel__nav">
            <button class="carousel__indicator current-slide"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/carousel.js') }}"></script>
</body>
{% endblock %}
