{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class = "bigBox">
        <div class = "transparentBox">
            <!--<div class = "imageBox">-->
                <!--<div class = "imageHolder">
                    <a href = "{{ url_for('index') }}"><img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"></a>
                </div>-->
            <!--</div>-->
            <div class = "innerBox">
                <div class = "signInBox">
                    <!-- <h1>Welcome!</h1> -->
                    <h1 id="appName">Slate</h1>
                    <form action="" method="post" novalidate class = "signIn">
                        {{ form.hidden_tag() }}
                        <p class = "username">
                            {{ form.username.label }}<br>
                            {{ form.username(size=32) }}
                        </p>
                        <p>
                            {% for error in form.username.errors %}
                            <span class = "formError">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password.label }}<br>
                            {{ form.password(size=32) }}
                        </p>
                        <p>
                            {% for error in form.password.errors %}
                            <span class = "formError">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <div class = "giveSpace"> {{ form.remember_me() }} {{ form.remember_me.label }}</div>
                        <p>{{ form.submit() }}</p>
                    </form>
                    <div class = "newUser">
                        <a class = "registerLink" href="{{ url_for('register') }}">New User? Register here!</a>
                    </div>
                    <div class = "newUser">
                        <a class = "registerLink" href="{{ url_for('reset_password_request') }}">Forgot Password? Reset it here.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}