{% extends "base.html" %}

{% block content %}
<div id="classInfo">
    <h1>Manage {{ course_name }}</h1>
</div>
{% if current_user.role == 0 %} <!-- Only teachers should have access to this page -->
<div id="studentinfo">
    <h2>Students</h2>
    <table id = "studentRow">
        <!--{% for s in students %}-->
        <tr class="studentRow">
            <!--<td class="usernameHolder">{{ s.username }}</td>
            <td class="emailHolder">{{ s.email }}</td>
            <td class="removeUserHolder">
                <form action="/classes/course/{{ course_id }}/manage/remove/{{ s.id }}" method='POST'> <!-- This form will execute the code in routes with the def add-->
                        <!--<button type="submit" class = "removeButton">Remove Student</button>
                </form> 
            </td>-->
        </tr>
        <!--{% endfor %}-->
    </table>
</div>
<script src="{{ url_for('static', filename='scripts/studentview.js') }}"></script>
        {% if current_user.role == 0 %} <!-- if current user is a teacher -->
            <script type="text/javascript">
                initManage({{course_id}}); // Passing in course ID, session ID, and course status into the javascript
            </script>
        {% endif %} <!-- current user is a student-->
{% endif %}

{% endblock %}