<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{{ title }}</title> 
        <!-- favicon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" size = "16x16"/>
    </head>
    <body id="bodyAll">
        <div id="titleHolder">
            <h2>{{ title }}</h2>
        </div> <hr>
        <div id="sessionDataHolder">
            <h3 class="sectionHeaders">Class and Session Information</h3>
            <div id="sessionData">
                <div id="generalSessionData">
                    <p><b>Class:  </b>{{ course_name }}</p>
                    <p><b>Session ID:  </b>{{ session_id }} </p>
                    <p><b>Date:  </b>{{ start_date }}</p>
                </div>
                <div id="startEndTimes">
                    <p><b>Start Time:  </b>{{ start_time }}</p>
                    <p><b>End Time:  </b>{{ end_time }}</p>
                </div>
            </div>
        </div> <br> <hr>
        <div id="attendanceDataHolder">
            <div id="attendanceData">
                <h3 class="sectionHeaders">Attendance</h3>
                <h4>Present</h4>
                <ul id="present" class="attendanceList">
                    {% for s in present_list %}
                        <li> {{ s }}</li>
                    {% endfor %}
                </ul>
                <h4>Absent</h4>
                <ul id="absent" class="attendanceList">
                    {% for s in absent_list %}
                        <li> {{ s }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div> <br> <hr>
        <div id="reactionDataHolder">
            <div id="reactionData">
                <h3 class="sectionHeaders">Reaction Data</h3>
                <table id="reactionsTable">
                    <th>
                        Student
                    </th>
                    <th>
                        <!-- <p>Good</p><br> -->
                        <img src="{{ url_for('static', filename='images/Happy.png')}}" class= "tableImage">
                    </th>
                    <th>
                        <!-- <p>Okay</p><br> -->
                        <img src="{{ url_for('static', filename='images/Meh.png')}}" class= "tableImage">
                    </th>
                    <th>
                        <!-- <p>Bad</p><br> -->
                        <img src="{{ url_for('static', filename='images/Sad.png')}}" class= "tableImage">
                    </th>
                    <th>
                        <!-- <p>Slower</p><br> -->
                        <img src="{{ url_for('static', filename='images/Slow.png')}}" class= "tableImage">  
                    </th>
                    <th>
                        <!-- <p>Faster</p><br> -->
                        <img src="{{ url_for('static', filename='images/Fast.png')}}" class= "tableImage">
                    </th>
                    {% for s, r in reactions %}
                        {% if r.values() | sum() == 0 %}
                            <tr class="noReactions">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td>{{ s }}</td>
                                <td>{{ r[0] }}</td>
                                <td>{{ r[1] }}</td>
                                <td>{{ r[2] }}</td>
                                <td>{{ r[7] }}</td>
                                <td>{{ r[6] }}</td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
        </div> <br> <hr>
        <!-- {% for f in forms %}
            <div>
                <h2>f.prompt</h2>
                <table>
                    <th>Student</th>    
                    <th>Response</th>
                    {% for response in f %}
                        <tr>
                            <td> {{ response.student.username }}</td>
                            <td> {{ response.response }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div> <br> <hr>
        {% endfor %} -->

    </body>
</html>