{% extends "base.html" %}

{% block content %}
    <h1>Welcome to {{ course.course_name }}, {{ current_user.username }}!</h1> 
    {% if current_user.role == 0 %} <!-- If the user is a teacher -->
        <h3>Time to teach these annoying little brats again</h3> 
        <form action="/classes/rooms/{{ course.id }}/activate" method='post'>
            {% if found == true %} <!-- If this class has already been activated before -->
                {% for s in status_all %}
                    {% if s.status_course_id == course.id %}
                        {% if s.status == 1 %}
                            <button type="submit" formaction="/classes/rooms/{{ course.id }}/end">End Class</button>
                            <button type="submit" formaction="/classes/rooms/{{ course.id }}/attendance">Get Attendance</button>
                        {% else %}
                            <button type="submit">Start Class</button>
                        {% endif %}
                    {% endif %} 
                {% endfor %}
            {% else %} <!-- First time activating that class -->
                <button type="submit">Activate Class</button>
            {% endif %}
        </form>
    {% endif %}
    <!--<img style = "height: 250px;"src = "../../../static/Dog.jpg">-->
    <h2>Reactions</h2>
    <form action="/classes/rooms/{{ course.id }}/good" method='post'> <!-- Form for feeling good :) -->
        <button type="submit">Good</button>
    </form>
    <form action="/classes/rooms/{{ course.id }}/okay" method='post'> <!-- Form for feeling meh :| -->
        <button type="submit">Okay</button>
    </form>
    <form action="/classes/rooms/{{ course.id }}/bad" method='post'> <!-- Form for feeling sad :( -->
        <button type="submit">Bad</button>
    </form>

    <h2>Speed</h2>
    <form action="/classes/rooms/{{ course.id }}/fast" method='post'> <!-- Form for feeling good :) -->
        <button type="submit">Faster</button>
    </form>
    <form action="/classes/rooms/{{ course.id }}/slow" method='post'> <!-- Form for feeling meh :| -->
        <button type="submit">Slower</button>
    </form>

    <h2>Reaction Results: </h2> <!-- Shows the reaction results-->
    {% for r in reactions_all %}
        {% if r.reactions_course_id == course.id %} <!-- Only show emotions for this classroom -->
            {% if r.emotions == 0 %}    <!-- Just making it esaier to see what each emotion number represents, 0=good, 1=okay, 2=bad-->
                <p>Good | {{ r.reactor.username }}</p>
            {% elif r.emotions == 1 %}
                <p>Okay | {{ r.reactor.username }}</p>
            {% else %}
                <p>Bad | {{ r.reactor.username }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}

    <h2>Speed Results: </h2> <!-- Shows the speed results -->
    {% for s in speeds_all %}
        {% if s.speed_course_id == course.id %}
            {% if s.speed == 0 %} <!-- Making it easier to see what each speed number represents, 0=faster, 1=slower-->
                <p>Faster | {{ s.speeder.username }}</p>
            {% else %}
                <p>Slower | {{ s.speeder.username }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}

    <h2>Attendance: </h2>
    {% if found == true %} <!-- If this class has already been activated before -->
            {% for s in status_all %}
                {% if s.status_course_id == course.id and s.status == 1 %}
                    {% if current_user.role == 0 %} <!-- If the current user is a teacher -->
                        <div id = "attendance"> 
                            <div id = "inside">
                                <h3>Present Students (The good ones)</h3>
                                {% for p in present_list %}
                                    <p>{{ p }}</p>
                                {% endfor %}
                                <h3>Absent Students (The bad ones. Santa ain't bringing them presents this year!)</h3>
                                {% for a in absent_list %}
                                    <p>{{ a }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}     
            {% endfor %}   
    {% endif %}

{% endblock %}