{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_response.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher_form.css') }}">
{% endblock %}

{% block content %}
<div class = "largeHolder">
    <div class = "responseHolder">
        <div class = "promptTitle">
            <h2>Create Form</h2>
        </div>
        <form action="" method="post" class="teacherForm">
            {{ form.hidden_tag() }}
            <div class = "promptHolder">
                <!--{{ form.prompt.label }}-->
                {{ form.prompt(size=120, placeholder="Enter Prompt Here") }}
                {% for error in form.prompt.errors %}
                    <span class="errorSpan">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>{{ form.submit() }}</div>
        </form>
    </div>
</div>
{% endblock %}