{% extends "base.html" %}

{% block content %}
    <h1>This class has not started yet</h1>
    <h1>Your teacher is late! Hurrah! Maybe they won't come to remote school today ;)</h1>
    <h1>Just kidding, don't get too comfortable yet, {{ current_user.username }}.</h1>
    <h1>They're coming for you...</h1>


    <form action="/classes/rooms/{{ course.id }}/activate" method='post'>
        <button type="submit">Activate Class</button>
    </form>
    <!-- If student, just show the text, if it is a teacher, have an activate button -->

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/reloadCoursePage.js') }}"></script>

    <script type="text/javascript">
        init({{course.id}}, {{course.status}});
    </script>
{% endblock %}