{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unactivated.css') }}">
{% endblock %}

{% block content %}
    <div class = "unactivatedHolder">
        <div class = "titleHolder">
            <h1>This class has not started yet...</h1>
        </div>
        <!--{% if current_user.role == 1 %}--> <!-- If current user is a student-->
            <!--<h1>Your teacher is late! Hurrah! Maybe they won't come to remote school today ;)</h1>
            <h1>Just kidding, don't get too comfortable yet, {{ current_user.username }}.</h1>
            <h1>They're coming for you...</h1>
        {% endif %}-->

        {% if current_user.role == 0 %} <!-- If current user is a teacher -->
            <form action="/classes/rooms/{{ course.id }}/activate" method='post' class="activateForm"> <!-- Show the activate class button -->
                <button type="submit" class = "activateButton">Activate Class</button>
            </form>
            <a href = "{{ url_for('previous_session_list', course_id=course.id) }}" class = "createLink">Access Data from Previous Sessions</a>
            <a href = "{{ url_for('manage_course_page', course_id=course.id) }}" class = "createLink green">Manage Class</a>
        {% endif %}

        <a href = "{{ url_for('classes', username=current_user.username) }}" class = "createLink blue">Return to Classes List</a> 
    </div>
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/reloadCoursePage.js') }}"></script>

    <script type="text/javascript">
        init({{course.id}}, {{course.status}});
    </script>
{% endblock %}