{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
<div class = "userBox">
    <div class = "userImage">
        <div class = "">
            <h1>User: {{ user.username }}</h1>
            {% if user.role == 0 %}
                <h1>Role: Teacher</h1>
            {% else %}
                <h1>Role: Student</h1>
            {% endif %}
        </div>
        <img src="{{ user.avatar(500) }}">
    </div>
    <div class = "userInfo"> 
        <div class = "about">
            {% if user.about_me %}
                <p> {{ user.about_me }}</p> 
            {% endif %}
        </div>
        <div class = "lastSeen">
            {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen }}</p>
            {% endif %}
            {% if user == current_user %}
                <p><a href = "{{ url_for('edit_profile')}}">Edit your profile</a></p>
            {% endif %}
        </div>
    </div>
</div>
    <!-- No posts currently -->
    <!--{% for post in posts %} 
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(36) }}"></td>
            <td>{{ post.author.username }} says: <b>{{ post.body }}</b></td>
        </tr>
    </table>
    {% endfor %}-->
{% endblock %}